@use '../custom'as *;


.footer {
    padding-top: 1rem;
    background-color: $warning;
}



.company-list {
    display: block;
    list-style-type: none;
    position: relative;

    li {
        margin-bottom: 0.5rem;
        text-decoration: none;

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                color: $primary;
            }
        }
    }
}

.footer-bottom {
    background-color: $black;

    &__copyright {
        color: $gray-600;
        font-weight: 400;


        a {
            color: $gray-300;
            text-decoration: none;

            &:hover {
                color: $primary;
                text-decoration: underline;

            }
        }
    }
}